.signup-container{
  display:flex;
  position:relative;
  top: 40%;
  padding:20px;
  }
  .login .logo{
    width:60%;
    height:9%;

  }
 .login h1{
  font-family: anton;
  font-weight: 400px;
  font-size: 36px;
  line-height: 43.74px;
  margin-top:20px;
 }
 .login {
  width: 50%;
  padding:7%;
}

.login > form {
  display: flex;
  flex-direction: column;
  position:relative;
  top:20px;
  width:100%;
}

.login > form > label {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: -0.2800000011920929px;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 10px;
}
.login > form > input {
height: 48px;
padding: 8px 8px 8px 16px;
border-radius: 8px;
gap: 8px;
background:white;
border: 1px solid #D9CDCD
}
.eye-icon{
position: absolute;
top: 54%;
right: 4%;
opacity:50%;
}

.login > form > button {
height: 48px;
margin-top:30px;
padding: 10px 32px 46px 32px;
border-radius: 8px;
border:1px solid #7731E4;
background-color:#7731E4;
color:white;
font-family: DM Sans;
font-size: 20px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: center;
}

.login > form > button:hover {
  opacity: 88%;
}

.login p{
  margin-top: 30px;
  font-family: DM Sans;
  font-weight: 700;
  font-size:16px;
  line-height: 21.74px;
  text-align: center;
}
.signup {
  color:#7731E4;
}

fieldset.title {
  margin:20px;
  border-top: 1px solid #aaa;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  text-align: center;
  color:#8B8B8B;
}

fieldset.title legend {
font-family: Raleway;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: center;

}

.social{
  display:flex;
  justify-content: space-between;
  padding-top:10px;
}
.google-btn, .fb-btn{
  border: 1px solid #D9CDCD;
  border-radius: 8px;
  background-color: white;
  width:220px;
  height:56px;
  padding:10px;
 }
 .google-btn, .fb-btn:hover{
  cursor:pointer;
 }

.social img{
  margin-right:10px;
  width: 32px;
  height: 31.27px;
  vertical-align:middle;
}
.social span{
  width: 50px;
  height:21px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  
}

.right-div{
  width:50%;
}
.d3img {
height:100%;
width:100%;
}


@media only screen and (min-width : 360px) and (max-width : 480px){
  .signup-container{
    display:flex;
    flex-direction: column;
    padding:20px;
}
.login {
  width:100%;
}
.right-div{
  display:none;
}

.login .logo{
  width:80%;
  height:10%;
}
.login h1{
  font-size: 30px;
  line-height: 40px;
}
.google-btn, .fb-btn{
  width:180px;
  height:50px;
  padding:8px;
  margin:5px;
 }
 .social span{
  width: 40px;
  height:18px;
  font-family: DM Sans;
  font-size: 15px;
}
.social img{
  margin-right:6px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .signup-container{
    padding:20px;
  }
  .login {
    width: 55%;
  }
  .right-div{
    width:45%;
  }
  .google-btn, .fb-btn{
    width:180px;
    height:50px;
    padding:8px;
    margin:5px;
   }
   .social span{
    width: 40px;
    height:18px;
    font-family: DM Sans;
    font-size: 15px;
   }
  .social img{
    margin-right:6px;
  }
}

@media only screen and (min-width:1180px){
    .login{
      height:1200px;
    }
    .login > form > label {
      font-size: 22px;
      line-height: 25px;
      margin-bottom: 16px;
      margin-top: 20px;
    }
    .login > form > input {
      height: 54px;
      padding: 8px 8px 8px 16px;
      border-radius: 8px;
     }
    .login > form > button {
      height: 54px;
      margin-top:40px;
      font-size: 22px;
      }

      .login p{
        margin-top: 40px;
        font-size:20px;
        line-height: 24px;
       }
      fieldset.title {
        margin:30px;
       }
      
      fieldset.title legend {
        font-size: 16px;
        line-height: 20px;
      }
      
      .social{
        padding-top:20px;
      }
      .google-btn, .fb-btn{
        width:220px;
        height:60px;
        padding:10px;
       }
          
      .social img{
        margin-right:10px;
        width: 35px;
        height: 33px;
        vertical-align:middle;
      }
      .social span{
        font-size: 20px;
        line-height: 24px; 
      }
}