.videoTag{
    width: 100%;
}

.hiw-main{
    position: relative;
}

.hiw-main span{
    position: absolute;
    color: var(--Black, #171717);
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 40%;
    left: 30%;
}