.hiw-main6{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    background: var(--Primary, #fff);
    padding: 0.5rem 0rem;
}

.hiw-main6-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
}

.hiw-main6-head{
    color: var(--Black, #171717);
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hiw-main6-bio{
    color: var(--Black, #171717);
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.5rem;
}

.hiw-main6-image{
    height: 60vh;
}