.faq-comp{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0rem;
}

.faq-head{
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-right: 4rem;
}

.faq-wrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 65%;
}

.faq-closed{
   margin: 1rem 0rem;
   padding: 0.9rem;
   border: solid 1px black;
   border-radius: 0.6rem;
}

.faq-ques{
    font-weight: 700;
    font-size: 1.2rem;
}

.faq-option{
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.faq-ans{
     display: none;
}

.faq-ans-open{
    display: block;
    margin-top: 1rem;
}