/* chart component */
.piechart{
  display: flex;
}
.chart{
  width:60%;
  padding-left:70px;
  text-align:right;
  font-size: 12px;
}
.chartvalue{
  width:40%;
  padding-right: 40px;
  padding-top: 40px;
  text-align: left;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
}

.chartvalue>h6{
  margin-top:5px;
  font-family: Raleway;
}
.recharts-legend-item {
  margin-bottom: 10px;
}

.top>h3, .chartvalue>h6{
  color:grey;
}

.text-color-class{
	color:black;
	font-size:22px;
  font-weight: 500;
}





