/* price component */
iframe{
  height: 100%;
  width:100%;
  border:0;
}
.desc-container{
  display: flex;
  background-color: white;
  font-family: DM Sans;
  padding:20px;
  border-radius: 10px;
}
.price-container{
  width:60%;
 
}
.price-container p{
  margin:10px;
}
.price-icons{
  margin:5px;
}
.map{
  width:40%;
 }

.price-container>.price-container-price{
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(119, 49, 228, 1);
}
.price-container-loc{
  color: rgba(112, 112, 112, 1);
  font-size: 25px;
  font-weight:400;
  line-height: 31.84px
}
.price-icons>span{
  margin-right: 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 31.84px;
}
.price-icons img{
  height:5%;
  width:5%;
}

.price-container button{
  display:none;
  width: 266px;
  height: 50px;
  border:1px solid blueviolet;
  border-radius: 8px;
  background-color: rgba(119, 49, 228, 1);
  padding:10px;
  color:white;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
  margin-top:20px;
  }
.ago{
  display:none;
}

 @media only screen and (min-width: 760px) and (max-width:1024px){
		.price-container button{
			display:block;
    }
		.price-container{
      width:58%;
      padding:10px;
    }

    .map{
      width:40%;
      margin-right: 30px;
    }
    iframe{
      height: 160px;
      margin-top: 20px;
     }
     .price-container-loc{
      font-size: 20px;
     }
     .price-icons>span{
      margin-right: 10px;
      font-size: 22px;
     }
     .price-icons img{
      height:26px;
      width:26px;
      }
	}

  @media only screen and (max-width : 480px){
    .desc-container{
        padding:10px;
        margin-top:30px;
        margin-left: 0;
        margin-right:0px;
    }
    .price-container button{
      display:block;
      margin-top:5px;
      width: 200px;
			height: 40px;
      font-size: 18px;
    }
    .price-container>.price-container-price{
      font-size: 24px;
      line-height: 20px;
     }
  .price-container{
    width:70%;
    padding:10px;
  }
  .map{
    width:30%;
   
  }
  iframe{
    height: 100px;
    margin-top:10px;
   }
   .price-icons>span{
     font-size: 15px;
   }
   .price-icons img{
    height:20px;
    width:20px;
  }
  .price-container-loc{
    font-size: 14px;
   }
   .price-container-loc img{
    height:14px;
    width:14px;
    }
    .ago{
      display:block;
      font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
      line-height: 17px;
      color: rgba(112, 112, 112, 1);
      text-align: right;
     }
}


@media only screen and (min-width : 360px) and (max-width:360px){
  .price-container>.price-container-price{
    font-size: 22px;
    line-height: 18px;
   }
   .price-container-loc{
    font-size: 12px;
   }
   .price-icons>span{
    line-height: 20px;
  }
}