/* Hero component */
.property-container{
  background-color: lightgray;
  font-family:DM Sans;
}
.overview-container, .highlights-container, .details-container, .similar-container, .nearby{
  margin-top: 10px;
  background-color: white;
  font-family: sans-serif;
  padding:20px;
  border-radius: 10px;
}

.property-main-container{
  display: flex;
  flex-direction: row;
}
.property-left-container{
  margin:20px;
  width: 64%;

}
.property-right-container{
  margin:20px;
  width: 35%;
}


@media only screen and (min-width: 1024px)and  (max-width:1375px){
  .property-left-container{
    margin:20px;
    width: 58%;
  
  }
  .property-right-container{
    margin:10px;
    width: 40%;
  }
}
@media only screen and (min-width: 760px) and (max-width:1024px){
  .overview-container,.desc-container,.highlights-container, .details-container, .similar-container, .nearby{
  margin-top: 5px;
  margin-right:20px;
  padding:10px;
  }
  .property-main-container{
    display: flex;
    flex-direction: column;
  }
  .property-left-container{
    margin:20px;
    width: 98%;
  }
  .property-right-container{
    margin-left:10px;
    margin-right:10px;
    width: 100%;
  
  }
}

/* phones */ 
  @media only screen and (min-width : 320px) and (max-width : 480px){
    .overview-container,.highlights-container, .details-container, .similar-container, .nearby{
      margin: 0;
      padding:10px;
      }
  .property-main-container{
    display: flex;
    flex-direction: column;
  }
  .property-left-container,.property-right-container{
    margin:0;
    width: 100%;
  }

}

