.range{
	margin: 20px;
	font-size: 28px;
	font-family:DM Sans;
	line-height: 28px;
	font-weight:700;
	}
.slider-container{
	display:flex;
	flex-direction: column;
	margin:20px;
}
.slider-container .value{
	border: 1px solid rgba(237, 237, 237, 1);;
	margin:4px;
	border-radius: 10px;
	padding:3px;
	font-size: 25px;
	font-weight:400;
}
.heading, .frequency{
	display:flex;
	justify-content:space-between;
 }
.frequency{
	padding: 0px 15px;
}

input[type="range"],.frequency{
  accent-color:blueviolet;
	margin:15px 0px;
}

.period button{
	border: none;
	background:white;
	color:grey;
	margin-left:10px;
	font-family: Raleway;
	font-size: 30px;
}
.period button:hover{
	color:blueviolet;
	font-family: DM Sans;
	font-weight: 700;
}

@media only screen and (max-width: 480px){
	.range{
		margin: 10px;
		font-size: 18px;
		line-height: 15px;
	}
	.slider-container .value{
	  font-size: 18px;
	}
	input[type="range"],.frequency{
		margin:5px 0px;
	}
	.period button{
		font-size: 18px;
	}
}