  /* sidebar component */
	
	.sidebar{
		height:2460px;
		}
	.sidebar .top{
		text-align: center;
		margin:20px;
	}
	.top>h3, .head{
		font-family: Raleway;
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
		color: rgba(154, 154, 154, 1);
	}
	.head>h3{
		color: black;
		padding:10px;
		font-size: 30px;
	}
	.head>button{
		color: rgba(119, 49, 228, 1);
		font-size: 25px;
		padding:10px;
	}
	.top>h1{
		font-family: Open Sans;
		font-size: 60px;
		font-weight: 700;
		line-height: 65px;
		letter-spacing: -1.1621675491333008px;
		}
		.top>button{
			width: 100%;
			height: 70px;
			margin-top:10px;
			margin-bottom: 20px;
			border:1px solid blueviolet;
			border-radius: 38px;
			background-color: rgba(119, 49, 228, 1);
			padding:10px;
			color:white;
			font-family: Raleway;
			font-size: 22px;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: -0.18000000715255737px;
			text-align: center;
			text-transform: uppercase;
		}
	
		.mortgage{
			position:sticky;
			top:0;
			
		}
	.payment{
		background-color: white;
		display: flex;
		flex-direction: column;
		border-radius: 15px 15px 0px 0px;
	}
	.payment>.head{
		display: flex;
		justify-content: space-between;
		margin:10px;
	}
	.head button{
		background:transparent;
		border:none;
		color:blueviolet;
	}
	.pre{
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    border-radius: 20px;
    width: 100%;
  }
	.range-container{
		margin-top:10px;
		background-color: white;
		display: flex;
		flex-direction: column;
		border-radius: 0px 0px 15px 15px;
	}


	 @media only screen and (min-width: 760px) and (max-width:1024px){
		.sidebar{
			margin-top: 10px;
			margin-right:20px;
			padding:10px;
			height:	auto;
		}
		.top{
			display: none;
		}
		.payment{
			margin-top: -20px;
		}
		.head>button{
			font-size: 28px;
			padding-right:20px;
		}
	} 


	@media only screen and (max-width: 480px){
		.sidebar{
			margin-top: 10px;
			height:	auto;
	}
	.top{
		display: none;
	}
	/* .mortgage{
		position:static;
		} */
		
		.head>h3{
			font-size: 20px;
		}
		.head>button{
			font-size: 16px;
		}
		.payment, .range-container{
			border-radius: 0px;
		}
	}

