/* price component */
iframe{
  height: 130px;
  width:100%;
  border:0;
}
.desc-container{
  display: flex;
  background-color: white;
  font-family: DM Sans;
  padding:20px;
  border-radius: 10px;
}
.price-container{
  width:60%;

}
.price-icons{
  margin:5px;
}
.map{
  width:40%;
  }

.price-container>.price{
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(119, 49, 228, 1);
}
.icon{
  color: rgba(112, 112, 112, 1);
  font-size: 21px;
  font-weight:400;
  line-height: 31.84px
}
.price-icons>span{
  margin-right: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 31.84px;
  text-align:center;
}
.price-container span img{
  height:28px;
  width:28px;
}

@media only screen and (max-width: 600px){
  .price-container{
    width:45%;
    padding:10px;
  }
  .map{
    width:45%;
  }

  }