.landing-main7{
    background: var(--Primary, #fff);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3rem 8rem;
}
.landing-main7-header{
    color: var(--Black, #171717);
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.5px;
}

.landing-main7-post-wrapper{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin-top: 4rem;
}

.landing-main7-post{
    border-radius: 0.2rem;
    background: #F5C34E;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    width: 20%;
}

.main7-post-tag{
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    padding: 0.5rem 1rem;
    background-color: #222;
    border-radius: 10rem;
}

.main7-post-head{
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1rem 0rem;
}

.main7-post-about{
    color: #000;
font-family: 'DM Sans', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 158.333% */
}

.main7-post-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.main7-post-button span{
    color: #000;
font-family: 'DM Sans', sans-serif;
font-size: 0.8rem;
font-style: normal;
font-weight: 700;
line-height: 37px;
}

.main7-post-arrrow-wrap{
    background-color: black;
    border-radius: 10rem;
    width: fit-content;
    height: fit-content;
    margin-left: 0.2rem;
}