  
   .agents .overlap {
    height: 1422px;
    left: 0;
    position: absolute;
    top: 2890px;
    width: 1976px;
  } 

  /* .agents .group {
    height: 492px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 1976px;
  } */
  
  /* .agents .footer {
    background-color: transparent;
    width: 1988px;
  }
   */
  /* .agents .overlap-group {
    height: 492px;
    position: relative;
    width: 1920px;
  } */
  
  /* .agents .rectangle {
    height: 491px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  } */
  
  /* .agents .frame {
    align-items: flex-start;
    display: flex;
    gap: 199.2px;
    height: 24px;
    left: 408px;
    position: absolute;
    top: 63px;
    width: 1123px;
  }
  
  .agents .our-markets {
    height: 15.19px;
    position: relative;
    width: 126.72px;
  }
  
  .agents .resources {
    height: 14.28px;
    position: relative;
    width: 101.6px;
  }
  
  .agents .connect {
    height: 14.49px;
    position: relative;
    width: 82.17px;
  }
  
  .agents .logo-white {
    height: 51px;
    left: 58px;
    position: absolute;
    top: 51px;
    width: 325px;
  }
  
  .agents .img {
    height: 194px;
    left: 1235px;
    position: absolute;
    top: 297px;
    width: 685px;
  }
   */
  /* .agents .toronto-ottawa {
    color: #ffffff;
    font-family: "Work Sans-Regular", Helvetica;
    font-size: 16.2px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: 22.6px;
    position: absolute;
    top: 102px;
    width: 259px;
  } */
  
  /* .agents .frame-2 {
    height: 208px;
    left: 1432px;
    position: absolute;
    top: 127px;
    width: 54px;
  }
  
  .agents .media-inquiries {
    color: #ffffff;
    font-family: "Work Sans-Regular", Helvetica;
    font-size: 16.2px;
    font-weight: 400;
    left: 937px;
    letter-spacing: 0;
    line-height: 22.6px;
    position: absolute;
    top: 105px;
    width: 179px;
  }
  
  .agents .text-wrapper {
    color: #ffffff;
    font-family: "Work Sans-Regular", Helvetica;
    font-size: 16.2px;
    font-weight: 400;
    left: 1513px;
    letter-spacing: 0;
    line-height: 22.6px;
    position: absolute;
    top: 128px;
    width: 179px;
  }
  
  .agents .text-wrapper-2 {
    color: #ffffff;
    font-family: "Work Sans-Regular", Helvetica;
    font-size: 16.2px;
    font-weight: 400;
    left: 1513px;
    letter-spacing: 0;
    line-height: 22.6px;
    position: absolute;
    top: 186px;
    width: 179px;
  }
  
  .agents .text-wrapper-3 {
    color: #ffffff;
    font-family: "Work Sans-Regular", Helvetica;
    font-size: 16.2px;
    font-weight: 400;
    left: 1513px;
    letter-spacing: 0;
    line-height: 22.6px;
    position: absolute;
    top: 244px;
    width: 179px;
  }
  
  .agents .text-wrapper-4 {
    color: #ffffff;
    font-family: "Work Sans-Regular", Helvetica;
    font-size: 16.2px;
    font-weight: 400;
    left: 1513px;
    letter-spacing: 0;
    line-height: 22.6px;
    position: absolute;
    top: 302px;
    width: 179px;
  }
   */
  .agents .frame-3 {
    background-color: #ffffff;
    height: 963px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .agents .div-split-bg {
    background-image: url(../../public/images/div.split-bg.png);
    background-position: 5% 50%;
    /* header */
    box-shadow: 0px 0px 20px 10px #1918260d;
    height: 963px;
    left: 0;
    position: absolute;
    top: 0;
    width: 944px;
  }
  
  .agents .heading-motivated {
    color: #252525;
    font-family: "Anton-Regular", Helvetica;
    font-size: 70px;
    font-weight: 400;
    height: 87px;
    left: 1077px;
    letter-spacing: 0;
    line-height: 86.4px;
    position: absolute;
    text-align: center;
    top: 196px;
    white-space: nowrap;
  }
  
  .agents .text-wrapper-5 {
    color: #181818;
    font-family: "Open Sans-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 1077px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 503px;
    width: 373px;
  }
  
  .agents .p {
    color: #333333;
    font-family: "DM Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1079px;
    letter-spacing: 0.4px;
    line-height: 43px;
    position: absolute;
    top: 557px;
    width: 714px;
  }
  
  .agents .get-started-for-free {
    color: #252525;
    font-family: "DM Sans-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 129px;
    left: 1077px;
    letter-spacing: 0;
    line-height: 43px;
    position: absolute;
    top: 298px;
    width: 680px;
  }
  
  .agents .overlap-group-wrapper {
    height: 70px;
    left: 1077px;
    position: absolute;
    top: 723px;
    width: 264px;
  }
  
  .agents .div-wrapper {
    background-color: #6345f9;
    border-radius: 8px;
    height: 70px;
    position: relative;
    width: 262px;
    border-color: #6345f9;
  }
  
  .agents .text-wrapper-6 {
    color: #ffffff;
    font-family: "DM Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 32px;
    left: 90px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 19px;
    white-space: nowrap;
  }
  
  .agents .header-image {
    background-color: #000000b5;
    background-image: url(../../public/images/Header_Image_agents.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 966px;
    left: 0;
    position: absolute;
    width: 1920px;
  }
  
  .agents .hello-future {
    height: 211px;
    left: 159px;
    position: absolute;
    top: 419px;
    width: 1562px;
  }
  
  .agents .group-2 {
    height: 70px;
    left: 829px;
    position: absolute;
    top: 708px;
    width: 264px;
  }
  
  .agents .overlap-group-2 {
    background-color: #7731e4;
    border-radius: 8px;
    height: 70px;
    position: relative;
    width: 262px;
    border-color: #7731e4;
  }
  
  .agents .text-wrapper-7 {
    color: #ffffff;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 32px;
    left: 77px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 19px;
    white-space: nowrap;
  }
  
  .agents .frame-4 {
    background-color: #7731e4;
    height: 963px;
    left: 0;
    position: absolute;
    top: 964px;
    width: 1920px;
  }
  
  .agents .div-w-layout-grid {
    height: 226px;
    left: 310px;
    position: absolute;
    top: 503px;
    width: 1300px;
  }
  
  .agents .div-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px #19182608;
    height: 226px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 638px;
  }
  
  .agents .heading {
    color: #7731e4;
    font-family: "Inter-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    height: 60px;
    left: 154px;
    letter-spacing: 0;
    line-height: 72px;
    position: absolute;
    text-align: center;
    top: 69px;
    white-space: nowrap;
    width: 330px;
  }
  
  .agents .text-wrapper-8 {
    color: #181818;
    font-family: "Inter-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 15px;
    left: 209px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 140px;
    white-space: nowrap;
    width: 220px;
  }
  
  .agents .div-card-2 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px #19182608;
    height: 226px;
    left: 662px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 638px;
  }
  
  .agents .heading-2 {
    color: #7731e4;
    font-family: "Inter-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    height: 60px;
    left: 166px;
    letter-spacing: 0;
    line-height: 72px;
    position: absolute;
    text-align: center;
    top: 69px;
    white-space: nowrap;
    width: 307px;
  }
  
  .agents .text-wrapper-9 {
    color: #181818;
    font-family: "Inter-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 15px;
    left: 186px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 140px;
    white-space: nowrap;
    width: 266px;
  }
  
  .agents .heading-motivated-2 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 70px;
    font-weight: 700;
    height: 314px;
    left: 76px;
    letter-spacing: 0;
    line-height: 86.4px;
    position: absolute;
    text-align: center;
    top: 102px;
    width: 1791px;
  }
  
  .agents .frame-5 {
    background-color: #191826;
    height: 963px;
    left: 0;
    position: absolute;
    top: 1927px;
    width: 1920px;
  }
  
  .agents .heading-motivated-3 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 70px;
    font-weight: 700;
    height: 87px;
    left: 385px;
    letter-spacing: 0;
    line-height: 86.4px;
    position: absolute;
    text-align: center;
    top: 162px;
    width: 1151px;
  }
  
  .agents .group-wrapper {
    height: 324px;
    left: 88px;
    position: absolute;
    top: 346px;
    width: 1735px;
  }
  
  .agents .group-3 {
    height: 324px;
    position: relative;
  }
  
  .agents .div-card-3 {
    background-color: #1e1d2c;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px #19182608;
    height: 324px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 417px;
  }
  
  .agents .img-2-1 {
    height: 60px;
    left: 179px;
    position: absolute;
    top: 64px;
    width: 60px;
    background-image: url(../../public/images/5e4578a8dbdb695e3a55ffa4_icon-relationships.png);
  }
  
  .agents .img-2-2 {
    height: 60px;
    left: 179px;
    position: absolute;
    top: 64px;
    width: 60px;
    background-image: url(../../public/images/5e4578ae03b5d913fdfbb05f_icon-brand.png);
  }

  .agents .heading-3 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    height: 22px;
    left: 127px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 162px;
    white-space: nowrap;
    width: 164px;
  }
  
  .agents .div-2 {
    height: 52px;
    left: 32px;
    position: absolute;
    top: 208px;
    width: 353px;
  }
  
  .agents .build-meaningful {
    color: #9e98b3;
    font-family: "Inter-Light", Helvetica;
    font-size: 15px;
    font-weight: 300;
    height: 41px;
    left: 2px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 350px;
  }
  
  .agents .div-card-4 {
    background-color: #1e1d2c;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px #19182608;
    height: 324px;
    left: 439px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 417px;
  }
  
  .agents .heading-brand {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 22px;
    left: 106px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 162px;
    white-space: nowrap;
    width: 206px;
  }
  
  .agents .keep-your-name-and {
    color: #9e98b3;
    font-family: "Inter-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 41px;
    left: 16px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 321px;
  }
  
  .agents .div-card-5 {
    background-color: #1e1d2c;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px #19182608;
    height: 324px;
    left: 1317px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 417px;
  }
  
  .agents .img-3 {
    height: 60px;
    left: 177px;
    position: absolute;
    top: 64px;
    width: 64px;
    background-image: url(../../public/images/5e4578c803b5d98b97fbb110_icon-exp.png);
  }
  
  .agents .heading-consumer {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 22px;
    left: 94px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 162px;
    white-space: nowrap;
    width: 229px;
  }
  
  .agents .consumer {
    color: #9e98b3;
    font-family: "Inter-Light", Helvetica;
    font-size: 15px;
    font-weight: 300;
    height: 41px;
    left: 22px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 310px;
  }
  
  .agents .div-card-6 {
    background-color: #1e1d2c;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px #19182608;
    height: 324px;
    left: 878px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 417px;
  }
/*   
  .agents .overlap-wrapper {
    height: 144px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1922px;
  } */
  
  /* .agents .overlap-2 {
    background-color: #ffffff;
    height: 70px;
    position: relative;
    width: 1920px;
  } */
/*   
  .agents .navbar {
    height: 22px;
    left: 412px;
    position: absolute;
    top: 62px;
    width: 627px;
  } */
  
  /* .agents .text-wrapper-10 {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 167px;
    letter-spacing: 0;
    line-height: 21.1px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 81px;
  }
  
  .agents .text-wrapper-11 {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 21.1px;
    position: absolute;
    text-align: right;
    top: 0;
    white-space: nowrap;
  }
  
  .agents .text-wrapper-12 {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 291px;
    letter-spacing: 0;
    line-height: 21.1px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 80px;
  }
  
  .agents .text-wrapper-13 {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 414px;
    letter-spacing: 0;
    line-height: 21.1px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 52px;
  }
  
  .agents .text-wrapper-14 {
    color: #000000;
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 509px;
    letter-spacing: 0;
    line-height: 21.1px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .agents .overlap-3 {
    height: 73px;
    left: 1479px;
    position: absolute;
    top: 36px;
    width: 384px;
  }
  
  .agents .text-wrapper-15 {
    color: var(--primaryblack);
    font-family: "DM Sans-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 47px;
    letter-spacing: 0;
    line-height: 21.1px;
    position: absolute;
    text-align: right;
    top: 26px;
    white-space: nowrap;
  }
  
  .agents .group-4 {
    height: 73px;
    left: 0;
    position: absolute;
    top: 0;
    width: 384px;
  } */
  
  /* .agents .overlap-group-3 {
    background-color: var(--primaryblack);
    border-radius: 8px;
    height: 70px;
    left: 182px;
    position: absolute;
    top: 0;
    width: 200px;
  } */
  
  /* .agents .text-wrapper-16 {
    color: var(--primarywhite);
    font-family: "DM Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 32px;
    left: 43px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 19px;
    white-space: nowrap;
  }
  
  .agents .group-5 {
    border: 2px solid;
    border-color: var(--primaryblack);
    border-radius: 8px;
    height: 70px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 155px;
  } */
/*   
  .agents .group-6 {
    height: 61px;
    left: 58px;
    position: fixed;
    top: 42px;
    width: 315px;
  } */
  
  /* .agents .footer-agent {
    top: -100px;
  } */