.agent-first-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-image: url('../../../assets/images/AgentsMain.png');
  background-size: cover;
  background-position: center;
}

.agent-first-main-text {
  color: #FFF;
  text-align: center;
  font-family: Anton;
}

.agent-first-future-partners {
  background: linear-gradient(90deg, #DCFB46 32.74%, #39D47A 51.67%, #5E43ED 70.04%, #7832E4 86.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.agent-first-btn {
  display: flex;
  justify-content: center;
  padding: 1em 2em 1em 2em;
  border-radius: 0.5em;
  background: var(--Primary, #7731E4);
  cursor: pointer;
  width: fit-content;

}

.agent-first-btn span {
  color: var(--Gray-Light, #FFF);
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .agent-first-main {
    height: 975px;
  }

  .agent-first-main-text {
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 0.3em;
    margin: 0 1.4em 0 1.4em;
  }

  .agent-first-btn {
    width: 13em;
    margin-top: 2em;
  }

  .agent-first-btn span {
    font-size: 2rem;
    line-height: 120%;
  }
}

/* laptop */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .agent-first-main {
    height: 975px;
  }

  .agent-first-main-text {
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 2px;
    margin: 0 1.4em 0 1.4em;
  }

  .agent-first-btn {
    width: 13em;
    margin-top: 6em;
  }

  .agent-first-btn span {
    font-size: 2rem;
    line-height: 120%;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .agent-first-main {
    height: 863px;
  }

  .agent-first-main-text {
    font-size: 3.75rem;
    line-height: 120%;
    letter-spacing: 2px;
    margin: 0 1.4em 0 1.4em;
  }

  .agent-first-btn {
    width: 10em;
    margin-top: 6.75em;
  }

  .agent-first-btn span {
    font-size: 1.75rem;
    line-height: 120%;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .agent-first-main {
    height: 486px;
  }

  .agent-first-main-text {
    font-size: 2.1rem;
    line-height: 120%;
    letter-spacing: 2px;
    margin: 0 1.4em 0 1.4em;
  }

  .agent-first-btn {
    width: 7em;
    margin-top: 6em;
  }

  .agent-first-btn span {
    font-size: 1.375rem;
    line-height: 120%;
  }
}